In [1]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use 
# MongoDB over SQL databases?

In [2]:
# Answer 1:-

In [3]:
# MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to
# traditional relational database. NoSQL database are quite useful for working with large sets of
# distributed data. MongoDB is a tool that can manage document-oriented information, store or retrieve
# information.
# MongoDB is used for high-volume data storage, helping organization store large amounts of data 
# while still performing rapidly. Organization also use MongoDB for its ad-hoc queries, indexing, load
# balancing, aggregation, server-side javascript execution and other features.
# MongoDB is more dynamic and complicated choice that is appropriate for hierarchical data because of 
# its fundamental properties, as opposed to a SQL database, which is still more predetermined and 
# appropriate for other types of data storage.Hence this is the reason Mongodb outshine the SQL database

In [4]:
# Question 2:- State and Explain the features of MongoDB.

In [5]:
# Answer 2:-

In [6]:
# MongoDB is an open-source document-oriented database that is designed to store a large scale of 
# data and also allows you to work with that data very efficiently. It is categorized under the Nosql
# database because the storage and retrival of data in the mongodb are not in the form of table.

# Features of MongoDB :--

# 1. Schema-less Database : It is the great feature provided by the MongoDB. A Schema-less database 
# means one collection can hold different types of documents in it. Or in other words, in the 
# mongodb database a single collection can hold multiple documents and these documents consist of
# the different numbers of fields, content, and size. It is not necessary that the one document is
# similar to another document like in the relational database. Due to this cool feature, Mongodb
# provides great flexibility to database.

# 2. Document Oriented: In MongoDB, all the data stored in the documents instead of tables like 
# in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows 
# and columns which make the data much more flexible in comparison to RDBMS. And each document 
# contains its unique object id.

# 3. High Performance: The performance of MongoDB is very high and data persistence as 
# compared to another database due to its features like scalability, indexing, replication, 
# etc.

# 4. Scalability: MongoDB provides horizontal scalability with the help of sharding. 
# Sharding means to distribute data on multiple servers, here a large amount of data 
# is partitioned into data chunks using the shard key, and these data chunks are evenly 
# distributed across shards that reside across many physical servers. It will also add 
# new machines to a running database.

In [7]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [11]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://munnakumar00403:munna818kumar@cluster0.idjhob1.mongodb.net/?retryWrites=true&w=majority")

In [13]:
db=client['Mydatabase']

In [ ]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record, 
# and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
# Answer 4:-

In [32]:
data={"name":"Rahul",
      "rollno":2301,
      "department":"Cse",
      "semester":4,
      "total_marks":95
     }

In [33]:
student_details=db["my_record"]

In [34]:
student_details.insert_one(data)

In [35]:
for i in student_details.find_one():
    print(i)

_id
name
rollno
department
semester
total_marls

In [21]:
data1=[
       {"Name":"Ajay","Rollno":2100900,"Department":"cse"},
       {"Name":"komal","Rollno":2100901,"Department":"cse"},
       {"Name":"Maneet","Rollno":2100902,"Department":"cse"},
       {"Name":"Dharuv","Rollno":2100903,"Department":"cse"},
       {"Name":"Janvi","Rollno":2100904,"Department":"cse"},
       {"Name":"Hement","Rollno":2100905,"Department":"cse"}
]

In [22]:
student_details.insert_many(data1)

In [23]:
for i in student_details.find():
    print(i)

{'_id': ObjectId('64dcc016641953d4e2da5981'), 'name': 'Rahul', 'rollno': 2301, 'department': 'Cse', 'semester': 4, 'total_marls': 95}
{'_id': ObjectId('64dcc2d6641953d4e2da5982'), 'Name': 'Ajay', 'Rollno': 2100900, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5983'), 'Name': 'komal', 'Rollno': 2100901, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5984'), 'Name': 'Maneet', 'Rollno': 2100902, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5985'), 'Name': 'Dharuv', 'Rollno': 2100903, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5986'), 'Name': 'Janvi', 'Rollno': 2100904, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5987'), 'Name': 'Hement', 'Rollno': 2100905, 'Department': 'cse'}

In [36]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
# demonstrate this.

In [37]:
# Answer 5:-

In [38]:
# find() method is used to select data from the database. It returns all the occurrences of the 
# information stored in the collection.

In [40]:
for i in student_details.find({"Name":"Ajay"}):
    print(i)

{'_id': ObjectId('64dcc2d6641953d4e2da5982'), 'Name': 'Ajay', 'Rollno': 2100900, 'Department': 'cse'}

In [41]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [42]:
# Answer 6:--

In [43]:
# The sorting order in MongoDB is defined by either a one (1) or a minus (-1). Here the 
# positive one represents the ascending order, while the negative one represents the descending 
# order.

In [53]:
for i in student_details.find().sort("Rollno",1):
    print(i)

{'_id': ObjectId('64dcc016641953d4e2da5981'), 'name': 'Rahul', 'rollno': 2301, 'department': 'Cse', 'semester': 4, 'total_marls': 95}
{'_id': ObjectId('64dcc3a3641953d4e2da5988'), 'name': 'Rahul', 'rollno': 2301, 'department': 'Cse', 'semester': 4, 'total_marks': 95}
{'_id': ObjectId('64dcc484641953d4e2da5989'), 'name': 'Rahul', 'rollno': 2301, 'department': 'Cse', 'semester': 4, 'total_marks': 95}
{'_id': ObjectId('64dcc8a2641953d4e2da598f'), 'Name': 'Hement', 'Rollno': 2100899, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5982'), 'Name': 'Ajay', 'Rollno': 2100900, 'Department': 'cse'}
{'_id': ObjectId('64dcc8a2641953d4e2da598c'), 'Name': 'Maneet', 'Rollno': 2100900, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5983'), 'Name': 'komal', 'Rollno': 2100901, 'Department': 'cse'}
{'_id': ObjectId('64dcc8a2641953d4e2da598b'), 'Name': 'komal', 'Rollno': 2100901, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5984'), 'Name': 'Maneet', 'Rollno': 2100902, 'Department': 'cse'}
{'_id': ObjectId('64dcc8a2641953d4e2da598e'), 'Name': 'Janvi', 'Rollno': 2100902, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5985'), 'Name': 'Dharuv', 'Rollno': 2100903, 'Department': 'cse'}
{'_id': ObjectId('64dcc8a2641953d4e2da598d'), 'Name': 'Dharuv', 'Rollno': 2100903, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5986'), 'Name': 'Janvi', 'Rollno': 2100904, 'Department': 'cse'}
{'_id': ObjectId('64dcc8a2641953d4e2da598a'), 'Name': 'Ajay', 'Rollno': 2100904, 'Department': 'cse'}
{'_id': ObjectId('64dcc2d6641953d4e2da5987'), 'Name': 'Hement', 'Rollno': 2100905, 'Department': 'cse'}

In [54]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used

In [55]:
# Answer 7:-

In [56]:
# delete_one(): The deleteOne() method deletes the first document from the collection that 
# matches the given selection criteria. It will delete/remove a single document from the 
# collection.

# delete_many(): The deleteMany() method allows you to remove all documents that match a 
# condition from a collection.

# drop() : drop() method is used to drop a collection from a database. It completely 
# removes a collection from the database and does not leave any indexes associated with 
# the dropped collections.